<!DOCTYPE html>
<html>
<head>
  <title>ng-app - AngularJS Examples</title>
  <script type="text/javascript" src="javascripts/angular.js"></script>
</head>
<body>

  <div ng-app="myApp" ng-controller="myCtrl">
    <p>名：<input type="text" ng-model="firstName" /></p>
    <p>姓：<input type="text" ng-model="lastName" /></p>
    <p>姓名：{{ lastName + firstName }}</p>
  </div>

  <script type="text/javascript">
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
      $scope.firstName = "John";
      $scope.lastName = "Doe";
    });
  </script>

</body>
</html>
